<div>
    <span id="dominio_portale" class="hidden"><%=@dominio%></span>
    <span id="cf_utente_loggato" class="hidden"><%=@cf_utente_loggato%></span>
    <span id="numero_anni" class="hidden"><%=@numero_anni%></span>
    <span id="nome" class="hidden"><%=@nome%></span>
    <span id="cognome" class="hidden"><%=@cognome%></span>
    <div id="app_tributi_container"></div>
</div>
