<div>
    <span id="dominio_portale" class="hidden"><%=@dominio%></span>
    <span id="cf_utente_loggato" class="hidden"><%=@cf_utente_loggato%></span>
    <span id="anni_pagamenti" class="hidden"><%=@anni_pagamenti%></span>
    <span id="anni_versamenti" class="hidden"><%=@anni_versamenti%></span>
    <span id="anni_situazione" class="hidden"><%=@anni_situazione%></span>
    <span id="mostra_violazioni" class="hidden"><%=@mostra_violazioni%></span>
    <span id="test" class="hidden"><%=@test%></span>
    <span id="nome" class="hidden"><%=@nome%></span>
    <span id="cognome" class="hidden"><%=@cognome%></span>
    <div id="app_tributi_container"></div>
    <div id="modal-stampa" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <iframe id="iframe-stampa"></iframe>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer"><button type="button" class="btn btn-primary">Chiudi</button></div>
            </div>
        </div>
    </div>
</div>
